
extends layout

block content
 each val in data
  .row
   .col-6
    .card.blue-grey
     .card-content.-text
      .card-title
       h3 #{val.superhero}
        nav
         ul
          li
           a(href='viewHero?id='+val.id) VIEW
           a(href='deleteHero?id='+val.id) DELETE
           a(href='updateHero?id='+val.id) UPDATE
      p Real Name:#{val.alter_ego} 
      p Character:#{val.characters}
      p Id:#{val.id} 

